@import "tailwindcss";

/* html,
body {
  font-family: "Gilroy", arial, "Helvetica Neue", sans-serif;
} */

body {
  margin: 0;

  font-family: "Gilroy", arial, "Helvetica Neue", sans-serif;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --white: #ffffff;
  --green: #258440;
  --red: #d7201a;
  --dark-green: #1e803a;
  --bright-red: #d51711;
}

.gradient-bg {
  background: linear-gradient(to right, #059669, #14b8a6);
}
